
page-home {
    font-weight: bold;
    .home-content {
        background-color: #ff7070;
    }
    .input-field {
        background: #a970ff;
    }
}
p {
    color: white;
}
button.navigation {
    width: 65%;
    margin: 0 auto;
    background-color: #70FF91;
}
