
page-home {
    font-weight: bold;
    .home-content {
        background-color: #ff7070;
    }
    .input-field {
        background: #a970ff;
        color: white;
    }
}
p {
    color: white;
    text-decoration: bold;
}
button.navigation {
    width: auto;
    background-color: #70FF91;
}